.article1style {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    border: 2px solid darkgrey;
    border-radius: 2%;
    padding: 2%;
    width: 20%;
}

#square {
    width: 100px;
    height: 100px;
    background: pink;
    position: relative;
    animation: mymove 4s infinite;
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 500px;}
}

@keyframes fastermove {
    from {left: 0px;}
    to {left: 500px;}
}

#square2 {
    width: 100px;
    height: 100px;
    background: purple;
    transition: width 2s;
}

#square2:hover {
    width: 600px;
}